.welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: $mainBackground;
  margin: 0 auto;
}

.headingContainer {
   display: flex;
   justify-content: space-between;
}

.imgContainer {
  align-self: flex-start;
  width: 30%;
  height: 400px;
  background-color: $secondaryBackground;
}

.gameInfo {
  align-self: flex-end;
  color: $fontColour;
  font-family: 'Rubik Mono One', sans-serif;
  width: 32%;
  justify-self: flex-end;

  h2 {
    font-weight: normal;
  }

  li {
    padding: 1rem 0;
  }
}

form {
  margin-top: 13rem;
  align-self: center;
}