@media (prefers-reduced-motion: reduce) {

  // don't show animations
  .offsetBG,
  .offsetBGTwo {
    animation-duration: 0s;
  }
}


@media(max-width: 1400px) {
  .gameInfo>ul>li:nth-child(2) {
    margin-left: 0;
  }

  .loadingScreen {
    font-size: 2rem;
  }
}

@media(max-width: 1000px) {

  .headingContainer {
    transform: scale(0.7);
  }

  .imgContainer,
  .offsetBG,
  .offsetBGTwo {
    width: 100%;
  }

  .gameSetup {
    display: flex;
    flex-direction: column;
  }

  .gameInfo h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  .gameInfo li {
    font-size: 0.9rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
  }


  .formContainer {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .gameForm {
    align-items: center;
    margin-top: 0.5rem;

    h2 {
      margin-right: 0;
    }
  }

  .formContainer>* {
    padding: 0.8rem;
    width: 80%;
  }
}

@media(max-width: 768px) {
  .headingContainer {
    height: 15rem;
  }

  .headingContainer img {
    transform: scale(0.6);
  }

  .loadingScreen {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .gameSetup {
    margin-top: -5%;
  }

  .gameInfo {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .gameForm {
    margin-top: 0;
    width: 100%;

    h2 {
      font-size: 1rem;
    }
  }

  .formContainer>* {
    width: 100%;
  }

  .stats {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .answer {
      flex: 0 1 auto;
      height: unset;
      margin: 0.3rem 0;
      max-width: 100%
  }

  .questionAnswers {
      flex-direction: column;

      h2 {
          font-size: 1rem;
          margin: 2rem 0;
      }
  }
}