$mainBackground : #1DB9C3;
$primaryAccent : #7027A0;
$secondaryBackground : #C32BAD;
$secondaryAccent: #F56FAD;
$fontColour: #fff;
$answerBackground4: #ab3ff3;

@mixin shadowAndBackground($color, $offsetX) {
    background-color: $color;
    box-shadow: $offsetX 5px $fontColour;
}