$mainBackground : #1DB9C3;
$primaryAccent : #7027A0;
$secondaryBackground : #C32BAD;
$secondaryAccent: #F56FAD;
$fontColour: #fff;


$answerBackground1 : #7027a0;
$answerBackground2 : #c52bae;
$answerBackground3: #f56fae;
$answerBackground4: #ab3ff3;

