@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import 'variables';
@import 'normalize';
@import 'landingPage';
@import 'gameArea';
@import 'mediaQueries';



html {
  font-size: 125%;
}

body { 
  background: url(./../assets/background.jpg);
  background-attachment: fixed;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
}

.hidden {
  display: none;
}

h2 {
  font-weight: 400;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  color: #fff;
  text-align: center;
  width: 100%;

  a{
    color: #fff;
  }
}

main {
  color: $fontColour;
  font-family: 'Rubik Mono One', sans-serif;
}
 